bucket         = "your-terraform-state-bucket"
key            = "aws-terra-3/production/terraform.tfstate"
region         = "eu-central-1"
dynamodb_table = "your-terraform-lock-table"
encrypt        = true
